@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.playerContainer{
    display: flex;
    padding-top: 30px;
    flex-direction: column;
}
.videoPlayer{
    margin: 0 auto;
}
.infoContainer{
    display: flex;
    width: 100%;
    height: auto;
}

.similarVideos{
    display: flex;
    height: 100px;
    background:red;
}
.videoInfo{
    display: flex;
    width: 60%;
    height: auto;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
.infoTitle{
    color: #000;
    font-size: 24px;
    text-align: center;
    margin-top: 15px;
}
.infoViews{
    color: #6c757d;
    font-size: 16px;
    padding-left: 20px;
}
.infoIcons{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-left: auto;
}
.like{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    color: #343a40;
    font-weight: 600;
    margin-left: auto;
    padding-right: 5px;
}
.like:hover{
    cursor: pointer;
}
.dislike{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    color: #343a40;
    font-weight: 600;
    padding-right: 5px;
}
.dislike:hover{
    cursor: pointer;
}
.share{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    color: #343a40;
    font-weight: 600;
    padding-right: 5px;
}
.share:hover{
    cursor: pointer;
}
.save{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    color: #343a40;
    font-weight: 600;
    padding-right: 5px;
}
.save:hover{
    cursor: pointer;
}